.container {
  padding: 10px 20px;
  color: var(--red);
  font-size: 20px;
  font-weight: 500;
  height: 30px;
  margin-bottom: 15px;
  cursor: pointer;
}
.icon {
  height: 30px;
}
.sectionName {
  width: 55%;
}
