.container {
  padding: 10px 80px 10px 20px;
  color: var(--red);
  font-size: 20px;
  font-weight: 500;
  height: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  width: 230px;
}
.icon {
  height: 30px;
}
.sectionName {
  width: 130px;
  height: 35px;
  font-weight: 600;
  padding-right: 35px;
}
