.card {
  height: 180px;
  width: 160px;
  flex-basis: 43%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 8%;
}
.desc,
.name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.image {
  height: 160px;
  width: 100%;
  background-color: var(--grey);
  align-self: center;
  margin-bottom: 10px;
}
