:root {
  --red: #d43325;
}
.polygon1 {
  height: 350px;
  align-self: flex-start;
}
.polygon2 {
  height: 350px;
  align-self: flex-end;
}
.landingHeading {
  height: 24vh;
  width: 100vh;
}
.landing-container {
  height: 100vh;
}
.myButton {
  background-color: var(--red);
  color: white;
  border: none;
  height: 78px;
  width: 360px;
  font-size: 32px;
}
.flex-row {
  display: flex;
  align-items: center;
}
.body-container {
  height: 100%;
  width: 100vw;
  justify-content: space-between;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.heading-container {
  width: 45%;
}
p {
  font-size: 25px;
}
.nav-bar {
  justify-content: space-between;
  padding: 20px;
  /* background-color: beige; */
  height: 7vh;
}
.logo {
  flex-basis: 10%;
}
.nav-links {
  flex-basis: 35%;
  justify-content: space-between;
}
/* .nav-links {
  column-gap: 2%;
} */
/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
