.card {
  height: 200px;
  width: 250px;
  padding: 20px;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 8%;
  cursor: pointer;
  border-radius: 15px;
  background-color: var(--grey);
}
.row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.content {
  flex-basis: 60%;
  overflow-y: scroll;
}
.buttons {
  width: 100%;
  justify-content: space-between;
}
.buttons button {
  border: none;
  border-radius: 8px;
  background-color: black;
  padding: 5px 10px;
  cursor: pointer;
}
.buttons span {
  color: black;
}
.enabled {
  color: white;
}
.disabled {
  color: rgb(53, 52, 52);
}
