.form {
  margin-top: 40px;
}
.formButton {
  height: 35px;
  width: 120px;
  font-size: 22px;
}
.error {
  background-color: var(--red);
  color: white;
  width: fit-content;
  padding: 5px;
}
.success {
  background-color: var(--yellow);
  color: white;
  width: fit-content;
  padding: 5px;
}
.container {
  display: flex;
  justify-content: space-between;
}
.sectionContainer {
  width: 75%;
}
.body {
  /* text-align: center; */
  /* margin-top: 180px; */
  font-size: 25px;
  padding-right: 60px;
}
.input {
  margin-bottom: 35px;
}
input[type="file"] {
  font-size: 15px;
}
.open {
  box-shadow: 10px 0 0 var(--red);
}

/* .parent {
    position: relative;
    background-color: blue;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1;
  } */
