.chatCard {
  display: flex;
  flex-direction: column;
  background-color: var(--grey);
  justify-content: space-between;
  height: 55px;
  width: 350px;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 15px;
}
.name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.lastMessage {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  color: rgba(0, 0, 0, 0.63);
}
.lastMessage .content {
  flex-basis: 60%;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
