.dropDownList {
  /* position: relative; */
  height: 35px;
  width: 170px;
  background-color: var(--red);
  color: white;
  font-size: 18px;
  padding: 0 10px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}
