.messageCard {
  width: 260px;
  padding: 8px 15px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* row-gap: 2px; */
  margin-bottom: 10px;
  border-radius: 15px;
  word-wrap: break-word;
  word-break: break-all;
}
.messageContent {
  /* flex-basis: 90%; */
  /* margin: 0; */
}
.time {
  align-self: flex-end;
}
/* .messageCard span {
    flex-basis: 50%;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  } */
