.navBar {
  justify-content: space-between;
  padding: 20px 20px 20px 0;
  border-bottom: 1px solid black;
  height: 7vh;
  /* width: 100%; */
}
.navBar p,
.navBar2 p {
  font-size: 20px;
}
.navLinks {
  flex-basis: 35%;
}
.navBar2 {
  padding: 20px 60px 0 0;
  height: 7vh;
}
.navBar2 h1 {
  font-weight: bold;
}
