.container {
  display: flex;
  justify-content: space-between;
}
.sectionContainer {
  width: 75%;
  row-gap: 52px;
}
.body {
  text-align: center;
  /* margin-top: 80px; */
  font-size: 25px;
  padding-right: 60px;
  flex-wrap: wrap;
  column-gap: 9.8%;
  justify-content: center;
}
.tableContainer {
  display: flex;
  overflow-y: scroll;
  /* height: 65vh; */
  width: 100%;
}
.open {
  box-shadow: 10px 0 0 var(--red);
}
table {
  border-collapse: collapse;
}
th {
  background-color: rgb(177, 175, 175);
  font-size: 14px;
  border-color: rgb(119, 117, 117);
  max-width: 150px;

  width: 80px;
}
td {
  border-color: rgb(119, 117, 117);
  /* height: 15px; */
  /* vertical-align: middle; */
  text-align: left;
  font-size: 13px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  max-width: 150px;

  width: 80px;
  /* padding: 20px; */
  background-color: var(--grey);
}
/* For Webkit Browsers */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--grey);
}

::-webkit-scrollbar-thumb {
  background-color: black;
}
