.form {
  margin: 55px 0;
  width: 450px;
}
.formButton {
  height: 35px;
  width: 150px;
  font-size: 22px;
  align-self: center;
}
.error {
  background-color: var(--red);
  color: white;
  width: fit-content;
  padding: 5px;
  border-radius: 8px;
}
.success {
  background-color: var(--yellow);
  color: white;
  width: fit-content;
  padding: 5px;
  border-radius: 8px;
}
.container {
  display: flex;
  justify-content: space-between;
}
.sectionContainer {
  width: 75%;
}
.body {
  font-size: 25px;
  padding-right: 60px;
}
.input {
  margin-bottom: 15px;
}
input[type="file"] {
  font-size: 15px;
}
.open {
  box-shadow: 10px 0 0 var(--red);
}
.capital {
  text-transform: capitalize;
}
