.container {
  margin-bottom: 20px;
}
.input {
  height: 40px;
  width: 450px;
  border: 1px solid var(--red);
  border-left: 10px solid var(--red);
  border-radius: 8px;
  background-color: white;
  font-size: 20px;
  padding: 0 20px;
}
.input:focus {
  outline: none;
}
.label {
  font-size: 20px;
  margin-bottom: 10px;
}
.miniInput {
  height: 30px;
  flex-basis: 77%;
  border: none;
  font-size: 20px;
}
.miniInput:focus {
  outline: none;
}
.button {
  height: 30px;
  width: 80px;
  border-radius: 8px;
  background-color: var(--yellow);
  border: none;
  color: white;
  cursor: pointer;
}
