.container {
  display: flex;
  justify-content: space-between;
}
.sectionContainer {
  width: 75%;
  row-gap: 52px;
}
.body {
  text-align: center;
  font-size: 25px;
  padding-right: 60px;
  flex-wrap: wrap;
  column-gap: 9.8%;
  justify-content: center;
}
.tableContainer {
  display: flex;
  overflow-y: scroll;
  width: 100%;
}
table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}
th,
td {
  border: 1px solid rgb(136, 132, 132);
  width: 120px;
  max-width: 190px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 40px;
  padding-right: 10px;
  padding-left: 10px;
}
th {
  background-color: black;
  font-size: 14px;
}
td {
  font-size: 13px;
  background-color: var(--grey);
}
.row {
  display: flex;
  justify-content: space-between;
}
.hidden {
  display: none;
}
.topRow {
  justify-content: space-between;
  padding-right: 60px;
  margin-bottom: 52px;
}
.topRow button {
  height: 35px;
  width: 150px;
  font-size: 18px;
  background-color: var(--yellow);
  border: none;
  border-radius: 8px;
  font-weight: bold;
  color: white;
  padding: 0 10px;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: var(--grey);
}

::-webkit-scrollbar-thumb {
  background-color: black;
}
.buttons {
  width: 480px;
  justify-content: space-between;
  margin-bottom: 40px;
}
.error {
  background-color: var(--red);
  color: white;
  width: fit-content;
  padding: 5px;
  border-radius: 8px;
}
.success {
  background-color: var(--yellow);
  color: white;
  width: fit-content;
  padding: 5px;
  border-radius: 8px;
}
.formButton {
  height: 35px;
  width: 150px;
  font-size: 22px;
}
.done {
  height: 35px;
  width: 150px;
  font-size: 22px;
  background-color: var(--yellow);
}
.open {
  box-shadow: 10px 0 0 var(--red);
}
.parent {
  position: relative;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 85%;
  background-color: rgba(255, 255, 255, 0.692);
}
.disabled {
  pointer-events: none;
}
.capital {
  text-transform: capitalize;
}
