.registerContainer {
  height: 100vh;
}
.bodyContainer {
  height: 100%;
  width: 100vw;
}
.form {
  width: 320px;
  align-self: self-start;
  margin-top: 20px;
}
.formButton {
  height: 35px;
  width: 120px;
  font-size: 20px;
  align-self: center;
  margin-bottom: 20px;
}
.formLink {
  color: var(--red);
  font-size: 19px;
}
.error {
  background-color: var(--red);
  color: white;
  width: fit-content;
  padding: 5px;
  border-radius: 8px;
}
.heading {
  align-self: center;
}
.buttons {
  width: 325px;
  justify-content: space-between;
}
.input {
  width: 300px;
}
.capital {
  text-transform: capitalize;
}
